In [105]:
import pandas as pd
pd.set_option('display.max_columns',150)
pd.set_option('display.max_rows',150)

In [106]:
df1 = pd.read_csv('hyd_first_rentals_000.csv')
df2 = pd.read_csv('hyd_first_rentals_100.csv')
df3 = pd.read_csv('hyd_first_rentals_200.csv')
df4 = pd.read_csv('hyd_first_rentals_300.csv')
df5 = pd.read_csv('hyd_first_rentals_400.csv')
df6 = pd.read_csv('hyd_first_rentals_414.csv')

In [107]:
df1.head()

,bedrooms,locality,builder,property_type,ispaiduser,price,user_type,prop_id,other,description
0,2,"Beeramguda, Ramachandra Puram, NH 9",NaN,Residential House,Y,"9,000",Owner,domcache_srp_48930897,floor 1 out of 2 Floors furnishing Unfurnish...,Looking for a bright and airy residence to mov...
1,3,"Patrika Nagar, Hitech City",NaN,Builder Floor Apartment,Y,"22,000",Agent,domcache_srp_57083523,floor 1 out of 5 Floors furnishing Furnished...,3BHK Property Available For Rent
2,3,NaN,NaN,Apartment,Y,"40,000",Agent,domcache_srp_57071547,floor 9 out of 14 Floors furnishing Semi-Fur...,"3 BHK, Multistorey Apartment is available for ..."
3,4,Nanakram Guda,NaN,Apartment,Y,"80,000",Agent,domcache_srp_56793769,floor 3 out of 9 Floors furnishing Unfurnish...,"This property is in highly premium location, A..."
4,3,"Tellapur, Outer Ring Road",NaN,Villa,Y,"40,000",Agent,domcache_srp_57049739,furnishing Semi-Furnished tenants preferred ...,it is a gated community villa project providin...

In [108]:
frames1 = [df1, df2]
df_cat1 = pd.concat(frames1)

frames2 = [df_cat1, df3]
df_cat2 = pd.concat(frames2)

frames3 = [df_cat2, df4]
df_cat3 = pd.concat(frames3)

frames4 = [df_cat3, df5]
df_cat4 = pd.concat(frames4)

frames5 = [df_cat4, df6]
df_cat5 = pd.concat(frames5)

In [109]:
df_cat5.shape

(12360, 10)

In [110]:
df_cat5.drop_duplicates(subset=['prop_id'],inplace=True)

In [111]:
df_cat5.shape

(9975, 10)

In [112]:
df_cat5.loc[5,'locality']

5    Financial District, Nanakram Guda
5                          Puppalaguda
5             Anupama Homes, Manikonda
Name: locality, dtype: object

In [113]:
df_cat5.reset_index(drop=True, inplace=True)

In [114]:
df_cat5.shape

(9975, 10)

In [115]:
df_cat5.to_csv('concat_first.csv', index=False)