In [45]:
import pandas as pd
pd.set_option('display.max_columns',150)
pd.set_option('display.max_rows',150)

In [46]:
df1 = pd.read_csv('hyd_second_rentals_000.csv')
df2 = pd.read_csv('hyd_second_rentals_100.csv')
df3 = pd.read_csv('hyd_second_rentals_200.csv')
df4 = pd.read_csv('hyd_second_rentals_300.csv')
df5 = pd.read_csv('hyd_second_rentals_400.csv')
df6 = pd.read_csv('hyd_second_rentals_414.csv')

In [47]:
df1.head()

,bathrooms,bedrooms2,date_posted,builder2,project,floor,furnish_status,price2,property_type2,user_type2,prop_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,domcache_globalNav
1,2,2,20210918.0,NaN,NaN,1,Unfurnished,9000.0,Residential House,Owner,domcache_srp_48930897
2,3,3,20210918.0,NaN,NaN,1,Furnished,22000.0,Builder Floor Apartment,Agent,domcache_srp_57083523
3,3,3,20210918.0,NaN,NaN,9,Semi-Furnished,40000.0,Apartment,Agent,domcache_srp_57071547
4,4,4,20210917.0,NaN,NaN,3,Unfurnished,80000.0,Apartment,Agent,domcache_srp_56793769

In [48]:
frames1 = [df1, df2]
df_cat1 = pd.concat(frames1)

frames2 = [df_cat1, df3]
df_cat2 = pd.concat(frames2)

frames3 = [df_cat2, df4]
df_cat3 = pd.concat(frames3)

frames4 = [df_cat3, df5]
df_cat4 = pd.concat(frames4)

frames5 = [df_cat4, df6]
df_cat5 = pd.concat(frames5)

In [49]:
df_cat5.shape

(12363, 11)

In [50]:
df_cat5.drop_duplicates(subset=['prop_id'],inplace=True)

In [51]:
df_cat5.shape

(9978, 11)

In [52]:
df_cat5.reset_index(drop=True, inplace=True)

In [53]:
df_cat5.shape

(9978, 11)

In [54]:
df_cat5.loc[5,'bedrooms2']

'3'

In [55]:
df_cat5.to_csv('concat_second.csv', index=False)